<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>面包屑</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">

	<link rel="shortcut icon" href="../assets/img/favicon.ico" />
	<!-- Loading Bootstrap -->
	<link href="../assets/css/backend.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
	<script type="text/javascript">
		var require = {
			"config": {
				"site": {
					"name": "FastAdmin",
					"cdnurl": "../",
					"version": "1.0.0",
					"timezone": "Asia/Shanghai",
					"languages": {
						"backend": "zh-cn",
						"frontend": "zh-cn"
					}
				},
				"upload": {
					"cdnurl": "./",
					"uploadurl": "data/upload.json",
					"bucket": "yourbucketname",
					"maxsize": "10mb",
					"mimetype": "*",
					"multipart": {
						"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
						"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
						"bucket": "yourbucketname",
						"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
						"expiration": 1500526573,
						"notify-url": "http://www.yoursite.com/upyun/notify"
					},
					"multiple": false
				},
				"modulename": "admin",
				"controllername": "breadcrumb",
				"actionname": "index",
				"jsname": "backend/breadcrumb",
				"moduleurl": "./",
				"language": "zh-cn",
				"referer": null
			}
		};
	</script>
</head>

<body class="inside-header inside-aside ">
	<div id="main" role="main">
		<section class="content-header">
			<h1>
				面包屑
				<small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<i class="fa fa-dashboard"></i> 主页</a>
				</li>
				<li>
					<a href="#">导航</a>
				</li>
				<li class="active">面包屑</li>
			</ol>
		</section>
		<div class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">基本面包屑</h3>
						</div>
						<div class="box-body">
							<ol class="breadcrumb" id="my-breadcrumb"></ol>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">带图标的面包屑</h3>
						</div>
						<div class="box-body">
							<ol class="breadcrumb" id="my-breadcrumb1">
								<!-- <li>
									<a href="#">
										<i class="fa fa-home"></i>Home
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-inbox"></i>Library</a>
								</li>
								<li class="active">Data</li> -->
							</ol>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">面包屑分割符</h3>
						</div>
						<div class="box-body">
							<ol class="breadcrumb" id="my-breadcrumb2">
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.js"></script>
</body>

</html>