<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<title>按钮</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">

		<link rel="shortcut icon" href="../assets/img/favicon.ico" />
		<!-- Loading Bootstrap -->
		<link href="../assets/css/backend.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
		<script type="text/javascript">
			var require = {
				"config": {
					"site": {
						"name": "FastAdmin",
						"cdnurl": "./",
						"version": "1.0.0",
						"timezone": "Asia/Shanghai",
						"languages": {
							"backend": "zh-cn",
							"frontend": "zh-cn"
						}
					},
					"upload": {
						"cdnurl": "./",
						"uploadurl": "data/upload.json",
						"bucket": "yourbucketname",
						"maxsize": "10mb",
						"mimetype": "*",
						"multipart": {
							"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
							"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
							"bucket": "yourbucketname",
							"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
							"expiration": 1500526573,
							"notify-url": "http://www.yoursite.com/upyun/notify"
						},
						"multiple": false
					},
					"modulename": "admin",
					"controllername": "dashboard",
					"actionname": "index",
					"jsname": "backend/dashboard",
					"moduleurl": "./",
					"language": "zh-cn",
					"referer": null
				}
			};
		</script>
	</head>

	<body class="inside-header inside-aside ">
		<div id="main" role="main">
			<section class="content-header">
				<h1>
        按钮
        <small>控制面板</small>
      </h1>
				<ol class="breadcrumb">
					<li>
						<a href="#"><i class="fa fa-dashboard"></i> 主页</a>
					</li>
					<li>
						<a href="#">UI元素</a>
					</li>
					<li class="active">按钮</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-24">
						<div class="box box-primary">
							<div class="box-header">
								<i class="fa fa-edit"></i>

								<h3 class="box-title">按钮</h3>
							</div>
							<div class="box-body pad table-responsive">
								<p>各种类型的按钮。使用基类<code>.btn</code></p>
								<table class="table table-bordered text-center">
									<tr>
										<th>通用按钮<code>.btn-primary</code></th>
										<th>块级按钮<code>.btn-block</code></th>
										<th>大按钮 <code>.btn-lg</code></th>
										<th>小按钮 <code>.btn-sm</code></th>
										<th>超小按钮 <code>.btn-xs</code></th>
										<th>不可点按钮 <code>.disabled</code></th>
									</tr>

									<tr>
										<td>
											<button type="button" class="btn btn-primary">主要按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-primary">主要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-primary btn-lg">主要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-primary btn-sm">主要按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-primary btn-xs">主要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-primary disabled" disabled="disabled">主要按钮</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn btn-default">次要按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-default">次要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-lg">次要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-sm">次要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-xs">次要按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default disabled" disabled="disabled">次要按钮</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn btn-default"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-default"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-lg"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-sm"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default btn-xs"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
										<td>
											<button type="button" class="btn  btn-default disabled" disabled="disabled"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文本</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn  btn-success">成功按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-success">成功按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-success btn-lg">成功按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-success btn-sm">成功按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-success btn-xs">成功按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-success disabled">成功按钮</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn  btn-info">原始按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-info">原始按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-info btn-lg">原始按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-info btn-sm">原始按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-info btn-xs">原始按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-info disabled">原始按钮</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn  btn-danger">危险按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block  btn-danger">危险按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-danger btn-lg">危险按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-sm">危险按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-danger btn-xs">危险按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-danger disabled">危险按钮</button>
										</td>
									</tr>
									<tr>
										<td>
											<button type="button" class="btn  btn-warning">警告按钮</button>
										</td>
										<td>
											<button type="button" class="btn btn-block btn-warning">警告按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-warning btn-lg">警告按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-warning btn-sm">警告按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-warning btn-xs">警告按钮</button>
										</td>
										<td>
											<button type="button" class="btn  btn-warning disabled">警告按钮</button>
										</td>
									</tr>
								</table>
							</div>
							<!-- /.box -->
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- ./row -->
				<div class="row">
					<div class="col-md-24">
						<!-- Block buttons -->
						<!--<div class="box">
							<div class="box-header">
								<h3 class="box-title">Block Buttons</h3>
							</div>
							<div class="box-body">
								<button type="button" class="btn btn-default btn-block">.btn-block</button>
								<button type="button" class="btn btn-default btn-block btn-flat">.btn-block .btn-flat</button>
								<button type="button" class="btn btn-default btn-block btn-sm">.btn-block .btn-sm</button>
							</div>
						</div>-->
						<!-- /.box -->

						<!-- Horizontal grouping -->
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">水平按钮组</h3>
							</div>
							<div class="box-body table-responsive pad">
								<p>
									水平按钮组很容易用引导程序创建。把你的按钮添加进去 <code>&lt;div class="btn-group"&gt;&lt;/div&gt;</code>
								</p>

								<table class="table table-bordered">
									<tr>
										<th>按钮</th>
										<th>图标</th>
										<th>平角</th>
										<th>下拉</th>
									</tr>
									<!-- Default -->
									<tr>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default">左按钮</button>
												<button type="button" class="btn btn-default">中按钮</button>
												<button type="button" class="btn btn-default">右按钮</button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-default"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-default"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default">1</button>
												<button type="button" class="btn btn-default">2</button>

												<div class="btn-group">
													<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
													<ul class="dropdown-menu">
														<li>
															<a href="#">Dropdown link</a>
														</li>
														<li>
															<a href="#">Dropdown link</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<!-- ./default -->
									<!-- Info -->
									<tr>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-info">左按钮</button>
												<button type="button" class="btn btn-info">中按钮</button>
												<button type="button" class="btn btn-info">右按钮</button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-info"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-info"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-info"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-info">1</button>
												<button type="button" class="btn btn-info">2</button>

												<div class="btn-group">
													<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
													<ul class="dropdown-menu">
														<li>
															<a href="#">Dropdown link</a>
														</li>
														<li>
															<a href="#">Dropdown link</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<!-- /. info -->
									<!-- /.danger -->
									<tr>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-danger">左按钮</button>
												<button type="button" class="btn btn-danger">中按钮</button>
												<button type="button" class="btn btn-danger">右按钮</button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-danger"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-danger"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-danger"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-danger">1</button>
												<button type="button" class="btn btn-danger">2</button>

												<div class="btn-group">
													<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
													<ul class="dropdown-menu">
														<li>
															<a href="#">Dropdown link</a>
														</li>
														<li>
															<a href="#">Dropdown link</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<!-- /.danger -->
									<!-- warning -->
									<tr>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">左按钮</button>
												<button type="button" class="btn btn-warning">中按钮</button>
												<button type="button" class="btn btn-warning">右按钮</button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-warning"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-warning"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-warning"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-warning">1</button>
												<button type="button" class="btn btn-warning">2</button>

												<div class="btn-group">
													<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
													<ul class="dropdown-menu">
														<li>
															<a href="#">Dropdown link</a>
														</li>
														<li>
															<a href="#">Dropdown link</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<!-- /.warning -->
									<!-- success -->
									<tr>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-success">左按钮</button>
												<button type="button" class="btn btn-success">中按钮</button>
												<button type="button" class="btn btn-success">右按钮</button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-success"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-success"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-success"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-left"></i></button>
												<button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-center"></i></button>
												<button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-right"></i></button>
											</div>
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-success">1</button>
												<button type="button" class="btn btn-success">2</button>

												<div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
													<ul class="dropdown-menu">
														<li>
															<a href="#">Dropdown link</a>
														</li>
														<li>
															<a href="#">Dropdown link</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<!-- /.success -->
								</table>
							</div>
						</div>
						<!-- /.box -->

						<div class="box">
							<div class="box-header">
								<h3 class="box-title">按钮插件</h3>
							</div>
							<div class="box-body">
								<p>下拉</p>

								<div class="input-group margin">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
                    <span class="fa fa-caret-down"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a href="#">Action</a>
											</li>
											<li>
												<a href="#">Another action</a>
											</li>
											<li>
												<a href="#">Something else here</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">Separated link</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control">
								</div>
								<!-- /input-group -->
								<p>正常</p>

								<div class="input-group margin">
									<div class="input-group-btn">
										<button type="button" class="btn btn-danger">Action</button>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control">
								</div>
								<!-- /input-group -->
								<p>平角</p>

								<div class="input-group margin">
									<input type="text" class="form-control">
									<span class="input-group-btn">
				                      <button type="button" class="btn btn-info btn-flat">Go!</button>
				                    </span>
								</div>
								<!-- /input-group -->
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
				</div>
				<!-- /. row -->
			</section>
		</div>
		<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.min.js"></script>
	</body>

</html>