<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>控制台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">

	<link rel="shortcut icon" href="../assets/img/favicon.ico" />
	<!-- Loading Bootstrap -->
	<link href="../assets/css/backend.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
	<script type="text/javascript">
		var require = {
			"config": {
				"site": {
					"name": "FastAdmin",
					"cdnurl": "../",
					"version": "1.0.0",
					"timezone": "Asia/Shanghai",
					"languages": {
						"backend": "zh-cn",
						"frontend": "zh-cn"
					}
				},
				"upload": {
					"cdnurl": "./",
					"uploadurl": "data/upload.json",
					"bucket": "yourbucketname",
					"maxsize": "10mb",
					"mimetype": "*",
					"multipart": {
						"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
						"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
						"bucket": "yourbucketname",
						"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
						"expiration": 1500526573,
						"notify-url": "http://www.yoursite.com/upyun/notify"
					},
					"multiple": false
				},
				"modulename": "admin",
				"controllername": "dashboard",
				"actionname": "index",
				"jsname": "backend/dashboard",
				"moduleurl": "./",
				"language": "zh-cn",
				"referer": null
			}
		};
	</script>
</head>

<body class="inside-header inside-aside ">
	<div id="main" role="main">
		<!-- 内容头部页 -->
		<section class="content-header">
			<h1>
				控制台
				<small>控制 面板</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<i class="fa fa-dashboard"></i> 主页</a>
				</li>
				<li class="active">控制台</li>
			</ol>
		</section>

		<!-- 主要内容 -->
		<section class="content">
			<!-- 小盒子 (属性框) -->
			<div class="row">
				<div class="col-lg-3 col-xs-6">
					<!--小盒子 -->
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>150</h3>
							<p>新请求</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
						<a href="#" class="small-box-footer">更多信息
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
					<!--/小盒子 -->
				</div>
				<div class="col-lg-3 col-xs-6">
					<!--小盒子 -->
					<div class="small-box bg-green">
						<div class="inner">
							<h3>53
								<sup style="font-size: 20px">%</sup>
							</h3>
							<p>波动率</p>
						</div>
						<div class="icon">
							<i class="ion ion-stats-bars"></i>
						</div>
						<a href="#" class="small-box-footer">更多信息
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
					<!--/小盒子 -->
				</div>
				<div class="col-lg-3 col-xs-6">
					<!--小盒子 -->
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>44</h3>
							<p>用户注册</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
						<a href="#" class="small-box-footer">更多信息
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
					<!--/小盒子 -->
				</div>
				<div class="col-lg-3 col-xs-6">
					<!--小盒子 -->
					<div class="small-box bg-red">
						<div class="inner">
							<h3>65</h3>
							<p>独特访客</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
						<a href="#" class="small-box-footer">更多信息
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
					<!--/小盒子 -->
				</div>
			</div>
			<!-- /小盒子 (属性框) -->
			<!-- 主要行 -->
			<div class="row">
				<!-- 左列 -->
				<section class="col-lg-7 connectedSortable">
					<!-- 自定义选项卡 (图表标签) nav-tabs-custom-->
					<div class="nav-tabs-custom">
						<!-- 盒子内的标签页 -->
						<ul class="nav nav-tabs pull-right">
							<li class="active">
								<a href="#revenue-chart" data-toggle="tab">区域分布</a>
							</li>
							<li>
								<a href="#sales-chart" data-toggle="tab">饼图</a>
							</li>
							<li class="pull-left header">
								<i class="fa fa-inbox"></i> 销售额</li>
						</ul>
						<div class="tab-content no-padding">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
							<div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
						</div>
						<!-- /盒子内的标签页 -->
					</div>
					<!-- /.nav-tabs-custom -->
					<!-- 聊天框 -->
					<div class="box box-success">
						<div class="box-header">
							<i class="fa fa-comments-o"></i>
							<h3 class="box-title">聊天</h3>
							<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
								<div class="btn-group" data-toggle="btn-toggle">
									<button type="button" class="btn btn-default btn-sm active">
										<i class="fa fa-square text-green"></i>
									</button>
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-square text-red"></i>
									</button>
								</div>
							</div>
						</div>
						<!-- 聊天主体内容 -->
						<div class="box-body chat" id="chat-box">
							<!-- 聊天项 -->
							<div class="item">
								<img src="dist/img/user4-128x128.jpg" alt="user image" class="online">
								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right">
											<i class="fa fa-clock-o"></i> 2:15
										</small>人名
									</a>
									我想与您会面，讨论有关新主题的最新消息。他们说这将是一个市场上最好的主题
								</p>
								<div class="attachment">
									<h4>附件:</h4>
									<p class="filename">
										图片.jpg
									</p>
									<div class="pull-right">
										<button type="button" class="btn btn-primary btn-sm btn-flat">Open</button>
									</div>
								</div>
							</div>
							<!-- /聊天项 -->
							<!-- 聊天项 -->
							<div class="item">
								<img src="dist/img/user3-128x128.jpg" alt="user image" class="offline">

								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right">
											<i class="fa fa-clock-o"></i> 5:15
										</small>人名
									</a>
									我想与您会面，讨论有关新主题的最新消息。他们说这将是一个市场上最好的主题
								</p>
							</div>
							<!-- /聊天项 -->
							<!-- 聊天项 -->
							<div class="item">
								<img src="dist/img/user2-160x160.jpg" alt="user image" class="offline">
								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right">
											<i class="fa fa-clock-o"></i> 5:30</small>
										人名
									</a>
									我想与您会面，讨论有关新主题的最新消息。他们说这将是一个市场上最好的主题
								</p>
							</div>
							<!-- /聊天项 -->
						</div>
						<!-- /聊天主体内容 -->
						<div class="box-footer">
							<div class="input-group">
								<input class="form-control" placeholder="类型信息...">
								<div class="input-group-btn">
									<button type="button" class="btn btn-success">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /聊天框 -->

					<!-- 要做的事情清单 -->
					<div class="box box-primary">
						<!-- 盒子头部 -->
						<div class="box-header">
							<i class="ion ion-clipboard"></i>
							<h3 class="box-title">要做的事情清单</h3>
							<div class="box-tools pull-right">
								<ul class="pagination pagination-sm inline">
									<li>
										<a href="#">&laquo;</a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /盒子头部 -->
						<!-- 盒子主体 -->
						<div class="box-body">
							<!-- 查看 dist/js/pages/dashboard.js 激活任务列表插件 -->
							<ul class="todo-list">
								<li>
									<!-- 拖动手柄 -->
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<!-- 复选框 -->
									<input type="checkbox" value="">
									<!-- 待办事项文本 -->
									<span class="text">设计一个新的主题</span>
									<!-- 重点标签 -->
									<small class="label label-danger">
										<i class="fa fa-clock-o"></i> 2 分钟
									</small>
									<!-- 通用工具编辑和删除-->
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<input type="checkbox" value="">
									<span class="text">做主题响应</span>
									<small class="label label-info">
										<i class="fa fa-clock-o"></i>4 小时</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<input type="checkbox" value="">
									<span class="text">让主题像星星一样闪耀</span>
									<small class="label label-warning">
										<i class="fa fa-clock-o"></i>1 天</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<input type="checkbox" value="">
									<span class="text">让主题像星星一样闪耀</span>
									<small class="label label-success">
										<i class="fa fa-clock-o"></i> 3 天</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<input type="checkbox" value="">
									<span class="text">检查您的消息和通知</span>
									<small class="label label-primary">
										<i class="fa fa-clock-o"></i> 1 周</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
									<span class="handle">
										<i class="fa fa-ellipsis-v"></i>
										<i class="fa fa-ellipsis-v"></i>
									</span>
									<input type="checkbox" value="">
									<span class="text">让主题像星星一样闪耀</span>
									<small class="label label-default">
										<i class="fa fa-clock-o"></i> 1 月</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
							</ul>
						</div>
						<!-- /盒子主体 -->
						<div class="box-footer clearfix no-border">
							<button type="button" class="btn btn-default pull-right">
								<i class="fa fa-plus"></i> 增加项</button>
						</div>
					</div>
					<!-- /.box -->
					<!-- 快速电子邮件部件 -->
					<div class="box box-info">
						<div class="box-header">
							<i class="fa fa-envelope"></i>
							<h3 class="box-title">快速邮件</h3>
							<!-- 工具箱 -->
							<div class="pull-right box-tools">
								<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
							<!-- /工具箱 -->
						</div>
						<div class="box-body">
							<form action="#" method="post">
								<div class="form-group">
									<input type="email" class="form-control" name="emailto" placeholder="Email to:">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="subject" placeholder="Subject">
								</div>
								<div>
									<textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
								</div>
							</form>
						</div>
						<div class="box-footer clearfix">
							<button type="button" class="pull-right btn btn-default" id="sendEmail">Send
								<i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</div>

				</section>
				<!-- /左列 -->
				<!-- 右列 (我们只添加ID来使窗口小部件可排序)-->
				<section class="col-lg-5 connectedSortable">
					<!-- 地图盒子 -->
					<div class="box box-solid bg-light-blue-gradient">
						<div class="box-header">
							<!-- 工具箱 -->
							<div class="pull-right box-tools">
								<button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
									<i class="fa fa-calendar"></i>
								</button>
								<button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"
								 style="margin-right: 5px;">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<!-- /工具箱 -->
							<i class="fa fa-map-marker"></i>
							<h3 class="box-title">游客</h3>
						</div>
						<div class="box-body">
							<div id="world-map" style="height: 250px; width: 100%;"></div>
						</div>
						<!-- /.box-body-->
						<div class="box-footer no-border">
							<div class="row">
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<div id="sparkline-1"></div>
									<div class="knob-label">游客</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<div id="sparkline-2"></div>
									<div class="knob-label">线上</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center">
									<div id="sparkline-3"></div>
									<div class="knob-label">存在</div>
								</div>
								<!-- ./col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
					<!-- /.box -->

					<!-- 销售图表 -->
					<div class="box box-solid bg-teal-gradient">
						<div class="box-header">
							<i class="fa fa-th"></i>
							<h3 class="box-title">销售图表</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn bg-teal btn-sm" data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="box-body border-radius-none">
							<div class="chart" id="line-chart" style="height: 250px;"></div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer no-border">
							<div class="row">
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">
									<div class="knob-label">邮件订单</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">

									<div class="knob-label">线上</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center">
									<input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">
									<div class="knob-label">In-Store</div>
								</div>
								<!-- ./col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.box-footer -->
					</div>
					<!-- /.box -->

					<!-- 日历 -->
					<div class="box box-solid bg-green-gradient">
						<div class="box-header">
							<i class="fa fa-calendar"></i>
							<h3 class="box-title">日历</h3>
							<!-- tools box -->
							<div class="pull-right box-tools">
								<!-- button with a dropdown -->
								<div class="btn-group">
									<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-bars"></i>
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li>
											<a href="#">添加新的事件</a>
										</li>
										<li>
											<a href="#">清除事件</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">查看日历</a>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-success btn-sm" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-success btn-sm" data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
							<!-- /. tools -->
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<!--The calendar -->
							<div id="calendar" style="width: 100%"></div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer text-black">
							<div class="row">
								<div class="col-sm-6">
									<!-- Progress bars -->
									<div class="clearfix">
										<span class="pull-left">任务 #1</span>
										<small class="pull-right">90%</small>
									</div>
									<div class="progress xs">
										<div class="progress-bar progress-bar-green" style="width: 90%;"></div>
									</div>

									<div class="clearfix">
										<span class="pull-left">任务 #2</span>
										<small class="pull-right">70%</small>
									</div>
									<div class="progress xs">
										<div class="progress-bar progress-bar-green" style="width: 70%;"></div>
									</div>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<div class="clearfix">
										<span class="pull-left">任务 #3</span>
										<small class="pull-right">60%</small>
									</div>
									<div class="progress xs">
										<div class="progress-bar progress-bar-green" style="width: 60%;"></div>
									</div>

									<div class="clearfix">
										<span class="pull-left">任务 #4</span>
										<small class="pull-right">40%</small>
									</div>
									<div class="progress xs">
										<div class="progress-bar progress-bar-green" style="width: 40%;"></div>
									</div>
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
					<!-- /.box -->
				</section>
				<!-- 右列 -->
			</div>
			<!-- /.row (main row) -->
		</section>
		<!-- /.content -->
	</div>
	<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.js"></script>
</body>

</html>