<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>通用表单元素</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">

	<link rel="shortcut icon" href="../assets/img/favicon.ico" />
	<!-- Loading Bootstrap -->
	<link href="../assets/css/backend.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
	<script type="text/javascript">
		var require = {
			"config": {
				"site": {
					"name": "FastAdmin",
					"cdnurl": "../",
					"version": "1.0.0",
					"timezone": "Asia/Shanghai",
					"languages": {
						"backend": "zh-cn",
						"frontend": "zh-cn"
					}
				},
				"upload": {
					"cdnurl": "./",
					"uploadurl": "data/upload.json",
					"bucket": "yourbucketname",
					"maxsize": "10mb",
					"mimetype": "*",
					"multipart": {
						"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
						"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
						"bucket": "yourbucketname",
						"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
						"expiration": 1500526573,
						"notify-url": "http://www.yoursite.com/upyun/notify"
					},
					"multiple": false
				},
				"modulename": "admin",
				"controllername": "general",
				"actionname": "index",
				"jsname": "backend/general",
				"moduleurl": "./",
				"language": "zh-cn",
				"referer": null
			}
		};
	</script>
</head>

<body class="inside-header inside-aside ">
	<div id="main" role="main">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				通用表单元素
				<small>预览</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<i class="fa fa-dashboard"></i> 主页</a>
				</li>
				<li>
					<a href="#">表单</a>
				</li>
				<li class="active">通用元素</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-24">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">不同高度文本框</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<input type="text" class="form-control" id="useName" placeholder="基本输入框">
							</div>
							<div class="form-group">
								<input class="form-control input-lg" type="text" placeholder="大输入框 class添加 .input-lg">
							</div>
							<div class="form-group">
								<input class="form-control input-sm" type="text" placeholder="小输入框 class添加 .input-sm">
							</div>

						</div>
					</div>
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">不同宽度文本框</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".col-xs-1">
								</div>
								<div class="col-xs-23">
									<input type="text" class="form-control" placeholder=".col-xs-23">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2">
								</div>
								<div class="col-xs-22">
									<input type="text" class="form-control" placeholder=".col-xs-22">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-3">
									<input type="text" class="form-control" placeholder=".col-xs-3">
								</div>
								<div class="col-xs-21">
									<input type="text" class="form-control" placeholder=".col-xs-21">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" placeholder=".col-xs-4">
								</div>
								<div class="col-xs-20">
									<input type="text" class="form-control" placeholder=".col-xs-20">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-5">
									<input type="text" class="form-control" placeholder=".col-xs-5">
								</div>
								<div class="col-xs-19">
									<input type="text" class="form-control" placeholder=".col-xs-19">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<input type="text" class="form-control" placeholder=".col-xs-6">
								</div>
								<div class="col-xs-18">
									<input type="text" class="form-control" placeholder=".col-xs-18">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-7">
									<input type="text" class="form-control" placeholder=".col-xs-7">
								</div>
								<div class="col-xs-17">
									<input type="text" class="form-control" placeholder=".col-xs-17">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8">
									<input type="text" class="form-control" placeholder=".col-xs-8">
								</div>
								<div class="col-xs-16">
									<input type="text" class="form-control" placeholder=".col-xs-16">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-9">
									<input type="text" class="form-control" placeholder=".col-xs-9">
								</div>
								<div class="col-xs-15">
									<input type="text" class="form-control" placeholder=".col-xs-15">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-10">
									<input type="text" class="form-control" placeholder=".col-xs-10">
								</div>
								<div class="col-xs-14">
									<input type="text" class="form-control" placeholder=".col-xs-14">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-11">
									<input type="text" class="form-control" placeholder=".col-xs-11">
								</div>
								<div class="col-xs-13">
									<input type="text" class="form-control" placeholder=".col-xs-13">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<input type="text" class="form-control" placeholder=".col-xs-12">
								</div>
								<div class="col-xs-12">
									<input type="text" class="form-control" placeholder=".col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-24">
									<input type="text" class="form-control" placeholder=".col-xs-24">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">文本框状态</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label>不可用</label>
								<input type="text" class="form-control" placeholder="输入 ..." disabled>
							</div>
							<div class="form-group has-success">
								<label class="control-label" for="inputSuccess">
									<i class="fa fa-check"></i> 成功的输入框</label>
								<input type="text" class="form-control" id="inputSuccess" placeholder="输入 ...">
								<span class="help-block">提示文字（成功）</span>
							</div>
							<div class="form-group has-warning">
								<label class="control-label" for="inputWarning">
									<i class="fa fa-bell-o"></i> 警告的输入框
								</label>
								<input type="text" class="form-control" id="inputWarning" placeholder="输入 ...">
								<span class="help-block">提示文字（警告）</span>
							</div>
							<div class="form-group has-error">
								<label class="control-label" for="inputError">
									<i class="fa fa-times-circle-o"></i> 错误的输入框
								</label>
								<input type="text" class="form-control" id="inputError" placeholder="输入 ...">
								<span class="help-block">提示文字（错误）</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">前置/后置标签</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">@</span>
									<input type="text" class="form-control" placeholder="Username">
								</div>
							</div>
							<div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
							<h4>使用 icons</h4>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope"></i>
								</span>
								<input type="email" class="form-control" placeholder="Email">
							</div>
							<br>

							<div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-addon">
									<i class="fa fa-check"></i>
								</span>
							</div>
							<br>

							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-dollar"></i>
								</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">
									<i class="fa fa-ambulance"></i>
								</span>
							</div>
							<h4>使用 checkbox 和 radio inputs</h4>
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<span class="input-group-addon">
											<div class="radio">
												<label class="radio-label">
													<span class="radio-input-wrapper">
														<input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1">
														<span class="radio-inner"></span>
													</span>
												</label>
											</div>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="input-group">
										<span class="input-group-addon">
											<div class="checkbox">
												<label class="checkbox-label checkbox-checked">
													<span class="checkbox-input-wrapper">
														<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
														<span class="checkbox-inner"></span>
													</span>
												</label>
											</div>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<h4>使用 buttons</h4>
							<p class="margin">大:
								<code>.input-group.input-group-lg</code>
							</p>
							<div class="input-group input-group-lg">
								<div class="input-group-btn">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">下拉按钮
										<span class="fa fa-caret-down"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Action</a>
										</li>
										<li>
											<a href="#">Another action</a>
										</li>
										<li>
											<a href="#">Something else here</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">Separated link</a>
										</li>
									</ul>
								</div>
								<input type="text" class="form-control">
							</div>
							<p class="margin">正常</p>

							<div class="input-group">
								<div class="input-group-btn">
									<button type="button" class="btn btn-danger">Action</button>
								</div>
								<input type="text" class="form-control">
							</div>
							<p class="margin">小:
								<code>.input-group.input-group-sm</code>
							</p>

							<div class="input-group input-group-sm">
								<input type="text" class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-info btn-flat">Go!</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">搜索框（前缀和后缀）</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="input-affix">
									<span class="input-prefix">
										<i class="fa fa-user"></i>
									</span>
									<input type="text" class="form-control" id="inputError" placeholder="输入 ...">
									<span class="input-suffix">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">文本域</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label>文本域</label>
								<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
							</div>
							<div class="form-group">
								<label>不可编辑的文本</label>
								<textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">单选框</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="radio">
									<label class="radio-label radio-checked">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio1</span>
									</label>
								</div>
								<div class="radio">
									<label class="radio-label">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio2</span>
									</label>
								</div>
								<div class="radio">
									<label class="radio-label">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio3</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="radio">
									<label class="radio-label">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1">
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio1</span>
									</label>
									<label class="radio-label">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1">
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio2</span>
									</label>
									<label class="radio-label">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1">
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio3</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="radio">
									<label class="radio-label radio-disabled">
										<span class="radio-input-wrapper">
											<input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" disabled>
											<span class="radio-inner"></span>
										</span>
										<span class="radio-text">radio1</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-24">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">多选框</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="checkbox">
									<label class="checkbox-label">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox1</span>
									</label>
								</div>
								<div class="checkbox">
									<label class="checkbox-label">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox2</span>
									</label>
								</div>
								<div class="checkbox">
									<label class="checkbox-label checkbox-checked">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox3</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label class="checkbox-label">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox1</span>
									</label>
									<label class="checkbox-label">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox2</span>
									</label>
									<label class="checkbox-label checkbox-checked">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox3</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label class="checkbox-label checkbox-disabled">
										<span class="checkbox-input-wrapper">
											<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1">
											<span class="checkbox-inner"></span>
										</span>
										<span class="checkbox-text">checkbox1</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-24">
					<div class="box box-warning">
						<div class="box-header with-border">
							<h3 class="box-title">General Elements</h3>
						</div>
						<div class="box-body">
							<form role="form">
								<!-- select -->
								<div class="form-group">
									<label>Select</label>
									<select class="form-control">
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
										<option>option 4</option>
										<option>option 5</option>
									</select>
								</div>
								<div class="form-group">
									<label>Select Disabled</label>
									<select class="form-control" disabled>
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
										<option>option 4</option>
										<option>option 5</option>
									</select>
								</div>

								<!-- Select multiple-->
								<div class="form-group">
									<label>Select Multiple</label>
									<select multiple class="form-control">
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
										<option>option 4</option>
										<option>option 5</option>
									</select>
								</div>
								<div class="form-group">
									<label>Select Multiple Disabled</label>
									<select multiple class="form-control" disabled>
										<option>option 1</option>
										<option>option 2</option>
										<option>option 3</option>
										<option>option 4</option>
										<option>option 5</option>
									</select>
								</div>

							</form>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!--/.col (right) -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.js"></script>
</body>

</html>