<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>简单的表格</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">

	<link rel="shortcut icon" href="../assets/img/favicon.ico" />
	<!-- Loading Bootstrap -->
	<link href="../assets/css/backend.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
	<script type="text/javascript">
		var require = {
			"config": {
				"site": {
					"name": "FastAdmin",
					"cdnurl": "../",
					"version": "1.0.0",
					"timezone": "Asia/Shanghai",
					"languages": {
						"backend": "zh-cn",
						"frontend": "zh-cn"
					}
				},
				"upload": {
					"cdnurl": "./",
					"uploadurl": "data/upload.json",
					"bucket": "yourbucketname",
					"maxsize": "10mb",
					"mimetype": "*",
					"multipart": {
						"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
						"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
						"bucket": "yourbucketname",
						"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
						"expiration": 1500526573,
						"notify-url": "http://www.yoursite.com/upyun/notify"
					},
					"multiple": false
				},
				"modulename": "admin",
				"controllername": "",
				"actionname": "index",
				"jsname": "",
				"moduleurl": "./",
				"language": "zh-cn",
				"referer": null
			}
		};
	</script>
</head>

<body class="inside-header inside-aside ">
	<div id="main" role="main">
		<section class="content-header">
			<h1>
				简单的表格
				<small>简单表格的预览</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<i class="fa fa-dashboard"></i> 主页</a>
				</li>
				<li>
					<a href="#">表格</a>
				</li>
				<li class="active">简单表格</li>
			</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">基本表格.table</h3>
						</div>
						<div class="box-body">
							<table class="table">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
										<th style="width: 40px">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
										<td>
											<a href="javascript:;">delete</a>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
										<td>
											<a href="javascript:;">delete</a>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
										<td>
											<a href="javascript:;">delete</a>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
										<td>
											<a href="javascript:;">delete</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">带边框的表格</h3>
						</div>
						<div class="box-body">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">不带边框的表格</h3>
						</div>
						<div class="box-body">
							<table class="table no-border">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">紧缩表格(单元格内边距缩小)</h3>
						</div>
						<div class="box-body">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">条纹状表格</h3>
						</div>
						<div class="box-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">表格充满整个容器</h3>
						</div>
						<div class="box-body no-padding">
							<table class="table">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">鼠标悬停</h3>
						</div>
						<div class="box-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">响应式表格</h3>
						</div>
						<div class="box-body table-responsive">
							<table class="table text-center">
								<thead>
									<tr>
										<th style="width: 45px">序号</th>
										<th>任务</th>
										<th>进度</th>
										<th>标题</th>
										<th>标题</th>
										<th>标题</th>
										<th>标题</th>
										<th>标题</th>
										<th>标题</th>
										<th style="width: 40px">标签</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>AAAA</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
											</div>
										</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>
											<span class="badge bg-red">55%</span>
										</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>BBBB</td>
										<td>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
											</div>
										</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>
											<span class="badge bg-yellow">70%</span>
										</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>DDDD
										</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
											</div>
										</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>
											<span class="badge bg-light-blue">30%</span>
										</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>DDDD</td>
										<td>
											<div class="progress progress-xs progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"></div>
											</div>
										</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>cellvalue</td>
										<td>
											<span class="badge bg-green">90%</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.js"></script>
</body>

</html>