<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<title>控制台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">

		<link rel="shortcut icon" href="../assets/img/favicon.ico" />
		<!-- Loading Bootstrap -->
		<link href="../assets/css/backend.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
		<script type="text/javascript">
			var require = {
				"config": {
					"site": {
						"name": "FastAdmin",
						"cdnurl": "./",
						"version": "1.0.0",
						"timezone": "Asia/Shanghai",
						"languages": {
							"backend": "zh-cn",
							"frontend": "zh-cn"
						}
					},
					"upload": {
						"cdnurl": "./",
						"uploadurl": "data/upload.json",
						"bucket": "yourbucketname",
						"maxsize": "10mb",
						"mimetype": "*",
						"multipart": {
							"policy": "eyJidWNrZXQiOiJ5b3VyYnVja2V0bmFtZSIsInNhdmUta2V5IjoiXC91cGxvYWRzXC97eWVhcn17bW9ufXtkYXl9XC97ZmlsZW1kNX17LnN1ZmZpeH0iLCJleHBpcmF0aW9uIjoxNTAwNTI2NTczLCJub3RpZnktdXJsIjoiaHR0cDpcL1wvd3d3LnlvdXJzaXRlLmNvbVwvdXB5dW5cL25vdGlmeSJ9",
							"signature": "043eaf09c0319b1a9a11d06511bfdc4e",
							"bucket": "yourbucketname",
							"save-key": "/uploads/{year}{mon}{day}/{filemd5}{.suffix}",
							"expiration": 1500526573,
							"notify-url": "http://www.yoursite.com/upyun/notify"
						},
						"multiple": false
					},
					"modulename": "admin",
					"controllername": "dashboard",
					"actionname": "index",
					"jsname": "backend/dashboard",
					"moduleurl": "./",
					"language": "zh-cn",
					"referer": null
				}
			};
		</script>
	</head>

	<body class="inside-header inside-aside ">
		<div id="main" role="main">
			<section class="content-header">
				<h1>全面的UI<small>预览UI元素</small></h1>
				<ol class="breadcrumb">
					<li>
						<a href="#"><i class="fa fa-dashboard"></i>首页</a>
					</li>
					<li>
						<a href="#">UI</a>
					</li>
					<li class="active">常规</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- COLOR PALETTE -->
				<div class="box box-default color-palette-box">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-tag"></i>调色板</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Primary</h4>

								<div class="color-palette-set">
									<div class="bg-light-blue disabled color-palette"><span>Disabled</span></div>
									<div class="bg-light-blue color-palette"><span>#3c8dbc</span></div>
									<div class="bg-light-blue-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Info</h4>

								<div class="color-palette-set">
									<div class="bg-aqua disabled color-palette"><span>Disabled</span></div>
									<div class="bg-aqua color-palette"><span>#00c0ef</span></div>
									<div class="bg-aqua-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Success</h4>

								<div class="color-palette-set">
									<div class="bg-green disabled color-palette"><span>Disabled</span></div>
									<div class="bg-green color-palette"><span>#00a65a</span></div>
									<div class="bg-green-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Warning</h4>

								<div class="color-palette-set">
									<div class="bg-yellow disabled color-palette"><span>Disabled</span></div>
									<div class="bg-yellow color-palette"><span>#f39c12</span></div>
									<div class="bg-yellow-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Danger</h4>

								<div class="color-palette-set">
									<div class="bg-red disabled color-palette"><span>Disabled</span></div>
									<div class="bg-red color-palette"><span>#f56954</span></div>
									<div class="bg-red-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Gray</h4>

								<div class="color-palette-set">
									<div class="bg-gray disabled color-palette"><span>Disabled</span></div>
									<div class="bg-gray color-palette"><span>#d2d6de</span></div>
									<div class="bg-gray-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Navy</h4>

								<div class="color-palette-set">
									<div class="bg-navy disabled color-palette"><span>Disabled</span></div>
									<div class="bg-navy color-palette"><span>#001F3F</span></div>
									<div class="bg-navy-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Teal</h4>

								<div class="color-palette-set">
									<div class="bg-teal disabled color-palette"><span>Disabled</span></div>
									<div class="bg-teal color-palette"><span>#39CCCC</span></div>
									<div class="bg-teal-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Purple</h4>

								<div class="color-palette-set">
									<div class="bg-purple disabled color-palette"><span>Disabled</span></div>
									<div class="bg-purple color-palette"><span>#605ca8</span></div>
									<div class="bg-purple-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Orange</h4>

								<div class="color-palette-set">
									<div class="bg-orange disabled color-palette"><span>Disabled</span></div>
									<div class="bg-orange color-palette"><span>#ff851b</span></div>
									<div class="bg-orange-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Maroon</h4>

								<div class="color-palette-set">
									<div class="bg-maroon disabled color-palette"><span>Disabled</span></div>
									<div class="bg-maroon color-palette"><span>#D81B60</span></div>
									<div class="bg-maroon-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-sm-8 col-md-4">
								<h4 class="text-center">Black</h4>

								<div class="color-palette-set">
									<div class="bg-black disabled color-palette"><span>Disabled</span></div>
									<div class="bg-black color-palette"><span>#111111</span></div>
									<div class="bg-black-active color-palette"><span>Active</span></div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<!-- START ALERTS AND CALLOUTS -->
				<h2 class="page-header">Alerts and Callouts</h2>

				<div class="row">
					<div class="col-md-12">
						<div class="box box-default">
							<div class="box-header with-border">
								<i class="fa fa-warning"></i>

								<h3 class="box-title">Alerts</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="alert alert-danger alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<h4><i class="icon fa fa-ban"></i> Alert!</h4> Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
								</div>
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<h4><i class="icon fa fa-info"></i> Alert!</h4> Info alert preview. This alert is dismissable.
								</div>
								<div class="alert alert-warning alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<h4><i class="icon fa fa-warning"></i> Alert!</h4> Warning alert preview. This alert is dismissable.
								</div>
								<div class="alert alert-success alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<h4><i class="icon fa fa-check"></i> Alert!</h4> Success alert preview. This alert is dismissable.
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->

					<div class="col-md-12">
						<div class="box box-default">
							<div class="box-header with-border">
								<i class="fa fa-bullhorn"></i>

								<h3 class="box-title">Callouts</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="callout callout-danger">
									<h4>I am a danger callout!</h4>

									<p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								</div>
								<div class="callout callout-info">
									<h4>I am an info callout!</h4>

									<p>Follow the steps to continue to payment.</p>
								</div>
								<div class="callout callout-warning">
									<h4>I am a warning callout!</h4>

									<p>This is a yellow callout.</p>
								</div>
								<div class="callout callout-success">
									<h4>I am a success callout!</h4>

									<p>This is a green callout.</p>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
				<!-- END ALERTS AND CALLOUTS -->
				<!-- START CUSTOM TABS -->
				<h2 class="page-header">tabs切换</h2>

				<div class="row">
					<div class="col-md-24">
						<!-- Custom Tabs -->
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tab_1" data-toggle="tab">标签页1</a>
								</li>
								<li>
									<a href="#tab_2" data-toggle="tab">标签页2</a>
								</li>
								<li>
									<a href="#tab_3" data-toggle="tab">标签页3</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab_1">
									<b>How to use:</b>

									<p>Exactly like the original bootstrap tabs except you should use the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
									A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_2">
									The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_3">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
								</div>
								<!-- /.tab-pane -->
							</div>
							<!-- /.tab-content -->
						</div>
						<!-- nav-tabs-custom -->
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->
				<!-- END CUSTOM TABS -->
				<!-- START PROGRESS BARS -->
				<h2 class="page-header">进度条</h2>

				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">进度条大小不同</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<p><code>.progress</code></p>

								<div class="progress">
									<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (success)</span>
									</div>
								</div>
								<p>Class: <code>.sm</code></p>

								<div class="progress progress-sm active">
									<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
										<span class="sr-only">20% Complete</span>
									</div>
								</div>
								<p>Class: <code>.xs</code></p>

								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (warning)</span>
									</div>
								</div>
								<p>Class: <code>.xxs</code></p>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (warning)</span>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col (left) -->
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">进度指示器</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="progress">
									<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (success)</span>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
										<span class="sr-only">20% Complete</span>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (warning)</span>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete</span>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col (right) -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">垂直进度条有不同的大小</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body text-center">
								<p>By adding the class <code>.vertical</code> and <code>.progress-sm</code>, <code>.progress-xs</code> or
									<code>.progress-xxs</code> we achieve:</p>

								<div class="progress vertical active">
									<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
										<span class="sr-only">40%</span>
									</div>
								</div>
								<div class="progress vertical progress-sm">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 100%">
										<span class="sr-only">100%</span>
									</div>
								</div>
								<div class="progress vertical progress-xs">
									<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
										<span class="sr-only">60%</span>
									</div>
								</div>
								<div class="progress vertical progress-xxs">
									<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
										<span class="sr-only">60%</span>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col (left) -->
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">垂直的进度条</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body text-center">
								<p>By adding the class <code>.vertical</code> we achieve:</p>

								<div class="progress vertical">
									<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
										<span class="sr-only">40%</span>
									</div>
								</div>
								<div class="progress vertical">
									<div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 20%">
										<span class="sr-only">20%</span>
									</div>
								</div>
								<div class="progress vertical">
									<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
										<span class="sr-only">60%</span>
									</div>
								</div>
								<div class="progress vertical">
									<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 80%">
										<span class="sr-only">80%</span>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col (right) -->
				</div>
				<!-- /.row -->
				<!-- END PROGRESS BARS -->
				

			</section>
		</div>
		<script src="../assets/js/require.min.js" data-main="../assets/js/require-backend.min.js"></script>
	</body>

</html>